
.App {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffc32;
    height: 50px;
}

.menu-link {

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer {
    text-align: center;
    opacity: 0.45;
    cursor: default;
    margin-top: auto;
}

.main-container {
    /*background-image:*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.home {
    display: flex;
    justify-content: space-around;
}
.image {
    float: left;
    width: 50%;
}

.text {
    float: right;
    width: 50%;
}

