.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffc32;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    cursor: default;
    margin-top: auto;
    background: #343a40;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background-color: lightgray;
}

.background-image {
    background-image: url("../background-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home {
    display: flex;
    justify-content: space-around;
}

.card-deck {
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.carousel-image{
    width: 100%;
    height: 90vh;
}

.footer-text {
    opacity: 0.45;
    color: white;
}

.about {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 1200px;
    margin: auto;
    padding: 10px 50px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px 0;
}
